<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>

  #admin_container {
    background-color: rgba(206, 204, 205, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
  }

    #admin_container a {
      text-decoration: none;
    }
    #admin_container a:visited {
      color: inherit;
    }

  #admin_header {
    text-align: center;
    margin-bottom: 50px;
  }

  .recipe_edit_preview {

  }

    .recipe_edit_preview img {
      width: 500px;
      height: 500px;
      object-fit: contain;
    }


</style>

<section id="admin_container" class="container">

  <section id="admin_header" class="row">
    <div class="col-sm-12 col-md-2 offset-md-1 pull-left">
      <button class="btn btn-outline-warning"><a href='/admin'>< Back to admin page</a></button>
    </div>

    <div class="col-sm-12 col-md-4 offset-md-1">
      <h1>Admin Portal</h1>
      <h3>Edit Recipe - {{recipe.recipe_name}}</h3>
    </div>
  </section>

  <section>

    <div id="recipe-edit-form-div" class="container">
      <div class="row">
        <form class="col-sm-12 order-sm-2 order-md-1 col-md-4 offset-md-2">
          <div class="form-group">
            <label>ID: </label>
            <input class="form-control" type="number" name="rep_id" value="{{recipe.recipe_id}}" disabled></input>
          </div>

          <!-- recipe_id, recipe_name,recipe_img, total_calories, instructions -->
          <div class="form-group">
            <label for="rep_name">Name: </label>
            <input class="form-control" id="rep_name" type="text" name="rep_name" value="{{recipe.recipe_name}}"></input>
          </div>

          <!-- image -->
          <div class="form-group">
            <label for="rep_img">Image source: </label>
            <input class="form-control" id="rep_img" name="rep_img" value="{{recipe.recipe_img}}"></input>
          </div>

          <!-- total_calories -->
          <div class="form-group">
            <label for="rep_total_calories">Total calories: </label>
            <input class="form-control" type="number" id="rep_total_calories" name="rep_total_calories" value="{{recipe.total_calories}}" step='0.01'></input>
          </div>

          <!-- ingredients list !!!! this will be the complex one -->

          <!-- instructions -->
          <div class="form-group">
            <label for="rep_instructions">Instructions: </label>
            <input class="form-control" id="rep_instructions" name="rep_instructions" value="{{recipe.instructions}}"></input>
          </div>

          <div class="form-group">
            <button class="btn btn-outline-success" id="submit_edit_recipe">Save Changes</button>
            <button class="btn btn-outline-danger" id="submit_delete_recipe">Delete</button>
          </div>
        </form>

        <div class="col-sm-12 order-sm-1 order-md-2 col-md-4 recipe_edit_preview"> <!-- recipe image preview -->
          <img src="{{recipe.recipe_img}}" alt="{{recipe.recipe_name}}">
        </div>
      </div>
    </div><!-- recipe-edit-form-div -->

  </section>

</section> <!-- admin_container -->

<script>
// to be combined with other js files, do not change
function sendJSONData(route, method, data, on_success) {
  $.ajax({
    method: method,
    url: route,
    contentType: "application/json",
    dataType: "json",
    data: JSON.stringify(data)
  })
  .done((msg) => {
    // inform user of success
    alert(msg);

    // success callback
    if (on_success && typeof on_success === "function") {
      on_success();
    } else {
      // default behavior: reload page
      window.location.reload(true);
    }

  })
  .fail((msg) => {
    // inform user of failed attempt
    if (msg.status >= 500) {
      // 500 error
      alert('Error 500: Oops! Something went wrong.');
    } else {
      // 400 error
      alert(msg.responseJSON);
    }
  })
}


</script>
