
<div class="calorie-body">
  <div class="calorie-username">
    <p>
      <h1>{{#each results}}{{#if @last}}{{this.username}}'s Calorie Tracker{{/if}}{{/each}}</h1>
    </p>
  </div>

  <h2>Today's Progress</h2>
  <div class="calorie-progress">
    {{#if results}}
    <div class="calorie-progress-bar" role="progressbar" aria-valuenow="{{#each results}}{{#if @first}}{{this.calorie_in_percent}}{{/if}}{{/each}}" aria-valuemin="0" aria-valuemax="100" style="width: {{#each results}}{{#if @first}}{{this.calorie_in_percent}}{{/if}}{{/each}}%" id="calorie-bar">

    {{else}}
    <div class="calorie-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 0%" id="calorie-bar">
    {{/if}}



Calories: {{#each results}}{{#if @last}}{{this.daily_calories}}{{/if}}{{/each}}
    </div>
  </div>

  <div>
    <div class="calorie-status">
      {{#if results}}
      <h3>Status: {{#each results}}{{#if @first}}{{this.calorie_status}}{{/if}}{{/each}}</h3>
      {{else}}
      <h3>Status: Deficit</h3>
      {{/if}}
    </div>

    <div class="calorie-status">
      {{#if results}}
      <h3>Calories left: {{#each results}}{{#if @first}}{{this.calorie_left_display}}{{/if}}{{/each}}</h3>
      {{else}}
      <h3>Calories left: 2000</h3>
      {{/if}}
    </div>
  </div>

  <div class="calorie-rec">
    <p>
      <div style="width: 20%; float: left; margin: 0 0 0 0">
        <h5>Recipe Recommendations: </h5>
        <a id = "recipe_link" href=""><h6 id = "recipe_title">Recommendations</h6></a>
      </div>
      <div class="bs-example" style=" margin: 0 -51px 0 0; width: 80%; float: right; ">
        <div id="recipeCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Carousel indicators -->
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                    <div><img id='carousel_pic' alt="-1" src="/images/yeti.jpg" class="carousel-recipe-img"></div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
      </p>
    </div>

    <p>
      <div class="calories-info" >
        <div  class="calories-history" style="width: 50%; float: left; margin: 0 0 0 0">
          <table class="table table-striped table-hover" id="calorie-table" border="1" width="90%" padding="10px" text>
            <tr>
              <th style="text-align:center" colspan="6">Your calories</th>
            </tr>
            <tr>
              <td>Date</td>
              <td>Goal</td>
              <td>Consumed</td>
              <td>Deficit</td>
              <td>Surplus</td>
              <td colspan="2">Modify</td>
            </tr>

              {{#each results}}
              <tr>

              <td>{{this.calorie_date}}</td>
              <td>2000</td>
              <td>{{this.calorie_in}}</td>
              <td>{{this.calorie_left}}</td>
              <td>{{this.calorie_surplus}}</td>
              <td>                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateComment{{this.calorie_id}}">Update</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmComment{{this.calorie_id}}Delete">Delete</button>
                </div></td>
              </tr>
              {{/each}}

          </table>
        </div>

        <div class="calories-add" style="width: 40%; float: right; margin: 0 0 0 0">
          <table border="1" width="90%">
            <tr>
              <th style="text-align:center">Add calories</th>
            </tr>
            <tr>
              <td style="text-align:left">
                <form action="/calories/data" method="post">
                  <div class="block">
                    <label>Date:</label>
                    <input size="16" type="date" name="date" id="date" required>
                  </div>
                  <div class="block">
                    <label>Calories:</label>
                    <input size="16" type="text" name="calories" id="calories" required><br>
                  </div>
                  <input type="submit" value="Submit" name="submitCalories">
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </p>
  </div>
</div>


<script>
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;
document.getElementById("date").value = today;
//  $(document).ready(function(){
//    $('[name="deleteMe"]').click(function(){
//       $(this).closest("tr").remove();
//    });
//});
  $(document).ready(function(){
      // Activate carousel
      $("#recipeCarousel").carousel();

      // Enable carousel control

      //****************************************************//
      window.location.recipe_rec = [];
      $.ajax({ type: "GET",
      url: "/calorierec",
      async: true,
      success : function(res)
      {
      for (i = 0; i < res.results.length; i++){
      window.location.recipe_rec.push({
                                  "recipe_id": res.results[i].recipe_id,
                                  "recipe_name": res.results[i].recipe_name,
                                  "recipe_img": res.results[i].recipe_img,
                                  "total_calories": res.results[i].total_calories});
      }
      }
      });

      function carousel_inc(index){

                $("#carousel_pic").attr("src","/images/" + window.location.recipe_rec[++index].recipe_img);
                $("#recipe_title").text(window.location.recipe_rec[index].recipe_name);
                $("#carousel_pic").attr("alt", index);
                $("#recipe_link").attr("href", "/" + window.location.recipe_rec[index].recipe_id);
      }

      function carousel_dec(index){
                $("#carousel_pic").attr("src","/images/" + window.location.recipe_rec[--index].recipe_img);
                $("#recipe_title").text(window.location.recipe_rec[index].recipe_name);
                $("#carousel_pic").attr("alt", index);
                $("#recipe_link").attr("href", "/" + window.location.recipe_rec[index].recipe_id);
      }

      function carousel_fix(index){
                    $("#carousel_pic").attr("src","/images/" + window.location.recipe_rec[index].recipe_img);
                    $("#recipe_title").text(window.location.recipe_rec[index].recipe_name);
                    $("#carousel_pic").attr("alt", index);
                    $("#recipe_link").attr("href", "/" + window.location.recipe_rec[index].recipe_id);
      }


      $(".carousel-control-next").click(function(){
              var image_index = $("#carousel_pic").attr("alt");
              console.log(image_index);
              if (image_index < window.location.recipe_rec.length - 1){
                      carousel_inc(image_index);
              }else{
                      carousel_fix(0);
              }

      });

      $(".carousel-control-prev").click(function(){
              var image_index = $("#carousel_pic").attr("alt");
              if (image_index > 0){
                      carousel_dec(image_index)
              }else{
                    carousel_fix(window.location.recipe_rec.length - 1);
              }
      });
      //****************************************************//
  });
</script>

<script>
  var total_calories = 0;
  var counter = 0;

  console.log("{{#each results}}{{#if @last}}{{this.calorie_date}}{{/if}}{{/each}}");
  console.log(date);
  $('[name="submitCalories"]').click(myFunction);

  function myFunction() {
    var calorietable = document.getElementById("calorie-table");
    var caloriebar = document.getElementById("calorie-bar");
    console.log(calorietable);
    var z = document.createElement("tr");

    var date = document.getElementById("date").value;
    var calories = document.getElementById("calories").value;
    if(counter == 0){
      total_calories = Number({{#each results}}{{#if @last}}{{this.daily_calories}}{{/if}}{{/each}}) + Number(calories, 10);
    } else {
      total_calories = total_calories + Number(calories, 10);
    }

    if(date == "{{#each results}}{{#if @last}}{{this.calorie_date}}{{/if}}{{/each}}")
      caloriebar.innerHTML = "Calories in: " + total_calories;

    counter++;
    console.log(counter);
  }
</script>

<!--Modals to Update Comments-->
<!--Modals to Confirm Comment Delete-->
{{#each results}}
<div id="updateComment{{this.calorie_id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Your Calorie entry
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </h4>
            </div>
            <div class="modal-body">
                <form action="/calories/update/{{this.calorie_id}}" method="post">
                    <!--Current Data-->
                    <div class="form-group">
                        <p><strong>Current Calories:</strong></p>
                        <p>{{this.calorie_in}}</p>
                    </div>
                    <!--Data to be updated-->

                    <div class="form-group">
                        <p>Edit your calories:</p>
                        <textarea class="form-control" name="calorieUpdate" rows="10" required>{{this.calorie_in}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="confirmComment{{this.calorie_id}}Delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete your calorie entry?</h4>
                <button type="button" class="btn btn-info" data-dismiss="modal">No, don't delete</button>
                <button onclick="deleteCalorie({{this.calorie_id}})" class="btn btn-danger">Yes, delete my calorie</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<br />
<br />

<script>



    function deleteCalorie(id) {
        $.ajax({
            url: '/calories/delete/' + id,
            type: 'GET',
            success: function (result) {
                window.location.reload();
            }
        })
    };
</script>
