<main>
  <div class="recipe-name">
    <h1> {{recipeName}} </h1>
  </div>
  <div class="ingredientList">
    <ul>
      {{#each ingredient}}
      <li class="ing">
        {{this.quantity}} {{this.metric}} {{this.ingredient_name}}
      </li>
      {{/each}}
    <ul>
  </div>
  <div class="recipe-instructions">
    <p> {{recipeInstructions}}
    </p>
    <p> Calories Per Serving: {{calories}}  
    </p>
  </div>
</main>
