<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">{{post.title}}</h1>
            <!-- Author -->
            <p class="lead">by {{post.user_name}}</p>
            <hr>
            <!-- Date/Time -->
            <p>Posted on {{post.post_date}}</p>
            <hr>
            <hr>
            <!-- Post Content -->
            <p>{{post.content}}</p>
            <hr />
            <hr />
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="/comments/create_comment" method="post">
                        <input type="hidden" name="post_id" value="{{post.post_id}}" />
                        <input type="hidden" name="user_id" value="1" />
                        <div class="form-group">
                            <textarea class="form-control" name="content" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <!-- Single Comment -->
            {{#each comments}}
                <div class="card mb-4">

                    <div class="card-body">
                        <h5 class="mt-0">{{this.user_name}}</h5>
                        <p>
                            {{this.content}}
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{this.comment_date}}
                    </div>
                </div>
            {{/each}}           
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
