    <title> All Our Easy-to-Prepare Recipes </title>
    <link rel="stylesheet" href="css/allRecipesStyle.css">
    <header>
      <section class="wrapper">
        <nav class="navBar">
          <div class="navBarLeft">
            <ul>
              <li>
                <a href=#home><img src="img/logo.png" class="logo"></a>
              </li>
              <li><a href=#home> Spacer </a>
              </li>
              <li><a href="calTrack.html"> Calorie Calculator </a>
              </li>
              <li><a href="mBoard.html"> Message Board </a>
              </li>
              <li><a href="recipes.html"> Recipes </a>
              </li>
            </ul> 
          </div>
          <div class="navBarRight">
            <a href="dashboard.html"> Hi, {{username}} </a>
          </div> 
        </nav>
        <div class="landing">
          <img src="img/spanner.jpg" class="landImg">
        </div>
      </section>
    </header>
    <main>
      <div class="greeting"> 
        <h1> Welcome, {{username}}! </h1>
        <h2> You can get cooking right away! </h2>
      </div>
      <div class="recipe-list">
        <ul>
          {{#each getRecipe}}
          <li class="eachRecipe">
            <a href="{{this.recipeLink}}">

                <img src="{{this.img}}" class="foodImg">
 
              <span class="foodName"> {{this.recipeName}} </span>
            </a>  
          </li>
          {{/each}}
        <ul>
      </div>
    </main>
    <footer>
      <div class="center">
        <div id="flogo">
          <a href=#home><img src="img/logo.png" alt="logo"></a>
        </div>
        <div id="links">
          <h2> CHECK OUT THESE GREAT FEATURES!
          </h2>
          <ul>
            <li><a href=#calTrack> Calorie Tracker </a>
            </li>
            <li><a href=#mBoard> Message Board </a>
            </li>
          </ul>
          <div class="credit">
            <h4> Image credit: Brooke Lark via Unsplash </h4>
            <h4> Logo credit: Sariah Bunnell with the help of Icons Producer and 
             Guilherme Furtado via the Noun Project 
            </h4>
          </div>
        </div>
      </div>
    </footer>
